@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;
@use '../../styles/typography' as fonts;

.container {
    width: 90%;
    max-width: 480px;
    aspect-ratio: 1/1;
    margin: auto;
    position: relative;
    background: linear-gradient(#0E112A 0%, #2E325A 100%);
    border-radius: 50%;
    padding: 16px;
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;

}

.circle_container {
    background-color: vars.$dark-blue-2;
    border-radius: 50%;
    padding: 4px;
    transform: rotate(-90deg); /* Rotate to make the circle start from the top */
}

.progress_circle {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 4px;
    stroke-linecap: round; /* Makes the tip of the circle rounded */
    transition: stroke-dashoffset 1s linear;
}

.content {
    @include mixins.flex-column(center, center, 5px);
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for offset caused by absolute positioning */
    
    width: 75%; /* Slightly smaller than the container */
    height: 75%;
    border-radius: 50%;
}

.timer {
    @extend .h1;
    color: vars.$light-purple-1;
    font-weight: var(--timer-weight);
    letter-spacing: var(--timer-space);
    width: 100%;
    text-align: center;
}

.btn {
    @extend .h3;
    background-color: transparent;
    border: none;
    color: vars.$light-purple-1;
}