@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$sans: "Kumbh Sans", sans-serif;
$serif: "Roboto Slab", serif;
$mono: "Space Mono", monospace;

$current-font: $sans;

.h1 {
    font-weight: bold;
    font-size: 80px;
    line-height: normal;
    letter-spacing: -4px;

    @media screen and (min-width: 768px) {
        font-size: 100px;
        line-height: 120px;
        letter-spacing: -5px;
    }
}

.h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 34px;
    }
}

.h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 13.13px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        letter-spacing: 15px;
    }
}

.h4 {
    font-weight: bold;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 4.23px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 13px;
        letter-spacing: 5px;
    }
}

.body-1 {
    font-weight: bold;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.body-2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
}