$red: hsl(0, 91%, 71%);

$blue: hsl(182, 91%, 71%);
$dark-blue-1: hsl(235, 35%, 18%);
$dark-blue-2: hsl(234, 39%, 14%);

$purple: hsl(284, 89%, 74%);
$light-purple-1: hsl(227, 100%, 92%);
$light-purple-2: hsl(229, 52%, 96%);

$white: hsl(0, 0%, 100%);

$gray: #E3E1E1;