@use 'styles/variables' as vars;

:root {
    --primary-color: hsl(0, 91%, 71%);
    --primary-font: "Kumbh Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* Optional, remove default margin */
}

#root {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: vars.$dark-blue-1;
}



